.page {
  .button {
    width: 200px;
  }

  .blue {
    background-color: white;
    color: blue;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: 1;
  }
}
