.main-header {
  width: 100vw;
  height: 10vh; /* 기본 높이 */
  background-color: #f4f4f4;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}
