.main-header {
  width: 100vw;
  height: 10vh; /* 기본 높이 */
  background-color: #f4f4f4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: 1px solid #e0e0e0;
}

.header-logo {
  margin-left: 4rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 기본 글씨 색상 유지 */
}

.header-button {
  margin-right: 4rem;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  align-items: center;
  border: none;
  background-color: #f4f4f4;
  padding: 5px;
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 기본 글씨 색상 유지 */

  &:hover,
  &:active,
  &.active {
    text-decoration: none;
    color: inherit;
  }
}
